# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: FC Cincy Discord
#email: your-email@example.com
google_analytics: UA-136499016-1
description: >- # this means to ignore newlines until "baseurl:"
  Officially unofficial Discord community of FC Cincinnati, providing memes
  and dysfunction since 2017

# branding/design
theme_color: '#003087'
logo: /assets/fccdiscord.svg

# social media
twitter:
  username: FCCincyDiscord
  card: summary
social:
  links:
    - https://twitter.com/FCCincyDiscord
discord_link: https://discord.gg/KcfMSnE
ranks_link: https://mee6.xyz/leaderboard/336530301205479434

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

sass:
  load_paths:
    - _sass
    - node_modules

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  
google_analytics: UA-136499016-1
