<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="{{ site.theme_color }}">

  <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  {% seo %}
</head>
