<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136499016-1%22%3E</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136499016-1');
</script>
                   
  {% include head.html %}

  <body>

    {% include header.html %}

    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
